doctype html
html(lang="en")
	head
		title To Do List
		meta(charset="UTF-8")
		meta(name="viewport", content="initial-scale=1.0, width=device-width, user-scalable=no")
	body
		.wrapper
			.main.container
				.todo#todo
					.todo__block
						.todo__block-title
							h1 Todo:
						ul.todo__list#list
						form(action="").todo__panel#panel
							a(href="#").todo__btn#addTask Новая задача
							.checkbox
								label(for="listSetPriority")
									input(type="checkbox")#SetPriority
									.checkbox-square
									| по приоритету
							select(title="Все")#selectTask
								option(value="Все") Все
						form(action="").todo__add
							label(for="addTitle")
								input(type="text")#addTitle
								| Заголовок задачи
							label(for="addName")
								input(type="text")#addName
								| Название проекта
							label(for="addPriority")
								select(title="1")#addPriority
									option(value="1") 1
									option(value="2") 2
									option(value="3") 3
								| Приоритет
							label(for="addDescription")
								textarea#addDescription
								| Описание
							a(href="#").todo__cancel#cancelTask Cancel